body{
    background-color: rgb(244, 244, 164);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img{
    border: solid rgb(2, 2, 100);
    padding: 2px;
}
.left{
    display: block;
    margin-left: auto;
}
ol{
    background-color: rgba(0, 0, 128, 0.444);
    width: 25% 
    ;
    position: 70px;
}


.footer{
    position: fixed;
    background-color: rgb(0, 0, 0);
    bottom: 0px;
    width: 101%;
    text-align: center;
    font-style: italic;
    font-size: large;
    z-index: 2;
    color: aliceblue;
}
.nav{
    position: relative;
    float: right;
    z-index: 1;
}
.header{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    text-align: center;
    border: 2px;
}
.mainbody{
    top: 62px;
    width: 100%;
    bottom: 40px;
}



